---
layout: default
---

<script>
/*updateNewList({
{% for post in site.posts %}
    "{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z" }}": "{{ post.url }}",
{% endfor %}
});*/

</script>




<div class="home">

  <h1 class="page-heading">新闻</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>{{ post.title }}</h2>
        {{ post.content }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
