<!-- Hero content: will be in the middle -->
<section>
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title is-2 is-spaced" style="text-transform: none;">
            {{ site.title }}
          </h1>

          <div class="is-divider" style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>

        <div class="columns" style="margin-top: 3em;">
          <div class="column is-one-third" style="padding: 0 12% 0 12%;">
            <img src="{{site.base_url}}/assets/images/5859220 - feed mobile news report virus.png">
            <h2 class="title is-4 is-spaced" style="text-transform: none;">
              疫情新闻
            </h2>
          </div>
          <div class="column is-one-third" style="padding: 0 12% 0 12%;">
            <img src="{{site.base_url}}/assets/images/5859234 - hand healthcare wash washing water.png">
            <h2 class="title is-4 is-spaced" style="text-transform: none;">
              生活知识
            </h2>
          </div>
          <div class="column is-one-third" style="padding: 0 12% 0 12%;">
            <img src="{{site.base_url}}/assets/images/5859219 - lap microscope research test virus.png">
            <h2 class="title is-4 is-spaced" style="text-transform: none;">
              研究进展
            </h2>
          </div>
        </div>



        </div>
      </div>
    </div>
  </div>
</div>

</section>
