<!-- Hero content: will be in the middle -->
<section>
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title is-2 is-spaced" style="text-transform: none;">
            {{ site.title }}
          </h1>

          <div class="is-divider" style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>

        </div>
      </div>
    </div>
  </div>
</div>

</section>
